/node_modules
/public/hot
/public/storage
/public/fonts
/public/images
/public/js
/public/css
/public/vue-admin-beautiful
/public/vue-element-admin
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
dist
