.el-dialog{
    width: 600px;
    margin-bottom: 5vh;
}
.danger-text{
    color: #ff4949!important;
}
.width-200-px{
    width: 200px!important;
}
.margin-buttom-10{
    margin-bottom: 10px!important;
}


// markdown
.tui-editor .te-md-splitter{
    width:auto!important;
    min-width: 500px;
}
